<div>
    <div class="slider fullscreen">
        <ul class="slides">
            <li>
                <img src="../img/journal.jpeg">
                <div class="caption center-align">
                    <h1>Insightful Journal</h1>
                    <h4 class="light grey-text text-lighten-3">Journaling with Analytics | Insights worth keeping</h4>
                    <a class="waves-effect waves-light btn" ng-style="{'background-color': '#A1B9AB'}" href="#/newEntrys">New Entry</a>
                    <a class="waves-effect waves-light btn" ng-style="{'background-color': '#A1B9AB'}" href="#/profile">Dashboard</a>
                </div>
            </li>
        </ul>
    </div>
</div>
