<div class="container">
  <div class="row">
    <form class="col s6">
      <h2>Sign Up</h2>
      <div class="row">
        <div class="input-field col s12">
          <input id="user_name" type="text" class="validate">
          <label for="user_name">Username</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <input id="confirm_password" type="password" class="validate">
          <label for="confirm_password">Confirm Password</label>
        </div>
        <a class="waves-effect waves-light btn" ng-style="{'background-color': '#C1AC8E'}"><i class="material-icons right">trending_flat</i>Sign Up</a>
      </div>
    </form>

    <form class="col s6">
      <h2>Login</h2>
      <div class="row">
        <div class="input-field col s12">
          <input id="user_name_login" type="text" class="validate">
          <label for="user_name_login">Username</label>
        </div>
        <div class="input-field col s12">
          <input id="password_login" type="password" class="validate">
          <label for="password_login">Password</label>
        </div>
        <a class="waves-effect waves-light btn" ng-style="{'background-color': '#C1AC8E'}"><i class="material-icons right">trending_flat</i>Login</a>
      </div>
    </form>
  </div>
</div>
