<div class="container" ng-controller="NewEntryController">
    <div id="intro" class="modal">
        <div class="modal-content">
            <h4>Welcome to Insightful Journal!</h4>
            <p>Insightful Journal is a journaling application with analytics. A user can perform an in-depth analysis of their journal entries to better understand how their writing comes across. The app provides feedback on the personality of the entries, as well as the language, social and emotional tones. To help the user dive deeper into their topic, the app provides DBpedia definitions and related TED Talks. This application is to help spree ideas and provide a greater understanding of the user's tone of writing.</p>
            <p>Each step of the way, there will be instructions of which actions you can take and what results you can expect. I hope you enjoy this application and find some new insights to your writing! (Click out of the box to continue)</p>
        </div>
    </div>

    <div class="row" ng-show="view.switch">
        <h3>Will this be for your Journal?</h3>
        <p><i class="tiny material-icons">info_outline</i>If you want to compare the difference between how you feel and the results you receive from the anaylis of your text from IBM Watson, select "Yes" below. If you want to do a quick example, select "No" below.</p>
        <p>
            <input name="group1" type="radio" id="yes" value="yes" ng-model="view.journal" class="validate" />
            <label for="yes">Yes</label>
        </p>
        <p>
            <input name="group1" type="radio" id="no" value="no" ng-model="view.journal" class="validate" />
            <label for="no">No</label>
        </p>
        <a ng-click="journalAnswer()" class="modal-trigger waves-effect waves-light btn" ng-style="{'background-color': '#C1AC8E'}">Choose</a>

        <div id="modal1" class="modal modal-fixed-footer">
            <form ng-submit="submitUserEmotion()">
                <div class="modal-content">
                    <div class="row">
                        <h5>How do you feel today?</h5>
                        <p>
                            <input class="with-gap validate" name="group2" type="radio" value="anger" id="anger" ng-model="view.userEmotion" />
                            <label for="anger">Angry</label>
                        </p>
                        <p>
                            <input class="with-gap validate" name="group2" type="radio" value="disgust" id="disgust" ng-model="view.userEmotion" />
                            <label for="disgust">Disgusted</label>
                        </p>
                        <p>
                            <input class="with-gap validate" name="group2" type="radio" value="fear" id="fear" ng-model="view.userEmotion" />
                            <label for="fear">Fearful</label>
                        </p>
                        <p>
                            <input class="with-gap validate" name="group2" type="radio" value="joy" id="joy" ng-model="view.userEmotion" />
                            <label for="joy">Joyful</label>
                        </p>
                        <p>
                            <input class="with-gap validate" name="group2" type="radio" value="sadness" id="sadness" ng-model="view.userEmotion" />
                            <label for="sadness">Sad</label>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat">Choose</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-hide="view.switch">
      <div class="card-panel" ng-style="{'background-color': '#F1E0C3'}">
          <span class="black-text" ng-style="{'font-size': '17px'}">On this page you be able to input the text you would like to analyze. To receive the best results, submit between two to three paragraphs of text. Or you can use the example text found in the drop down below.</span>
      </div>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">description</i>Click Here for Example Text</div>
          <div class="collapsible-body"><p>A Moore’s-like growth curve requires an infinitesimal number of intermediate steps of improvement. Each year’s CPU, airplane, or automobile is slightly better than last year’s. As economies of scale lower costs, the market expands.

          In contrast to computers and cars, technologies with which Musk is familiar, rockets cannot be systematically improved. Specific impulse—the number of pounds of thrust produced per pound of propellant—is the key parameter capable of producing significant cost reductions in access to space. Technological solutions to improving specific impulse include building lighter rockets or finding better fuels. And rocket scientists optimized both of those when Eisenhower was president. That leaves the physics problem: Mass versus gravity. The only way to work around it is through economies of scale, driving down operational costs through an increased launch tempo.

        The problem with economy of scale is it relies on demand. SpaceX’s current launch tempo owes a lot to commercial satellite launches. Information is space’s biggest market. Naively, one might have hoped that the growth in satellite communications would have increased demand, and thus launch tempo, driving down prices. But the capacity increase was, ironically, eaten up by Moore’s Law—which allows satellites to transmit more information. Communications satellites have not significantly increased the demand for mass to orbit.</p></div>
        </li>
      </ul>
        <div class="row">
            <form class="col s12" ng-submit="toneAnalyze()">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="entryTitle" type="text" ng-model="view.titleEntry" placeholder="Title Entry">
                        <label class="active" for="entryTitle"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea ng-model='view.text' id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Enter two to three paragraphs of text below</label>
                    </div>
                </div>
                <button ng-click="view.loader = true" class="btn waves-effect waves-light" type="submit" name="action" ng-style="{'background-color': '#C1AC8E'}">Analyze Entry</button>
            </form>
        </div>
    </div>

    <div class="row" ng-show="view.loader">
        <div class="col s1 offset-s4">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="(view.language).length > 0">
        <form ng-submit="submitData()">
            <div class="row">
                <h5>Data Analysis</h5>
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">info_outline</i>Definitions of Tones</div>
                        <div class="collapsible-body">
                            <p>Low Value- Less than 0.5 - less likely to be perceived.</p>
                            <p>High Value- More than 0.75 - Highly likely to be perceived.</p>
                            <p>Joy- Joy or happiness has shades of enjoyment, satisfaction and pleasure. There is a sense of well-being, inner peace, love, safety and contentment.</p>
                            <p>Fear- A response to impending danger. It is a survival mechanism that is a reaction to some negative stimulus. It may be a mild caution or an extreme phobia.</p>
                            <p>Sadness- Indicates a feeling of loss and disadvantage. When a person can be observed to be quiet, less energetic and withdrawn, it may be inferred that sadness exists.</p>
                            <p>Disgust- An emotional response of revulsion to something considered offensive or unpleasant. It is a sensation that refers to something revolting.</p>
                            <p>Anger- Evoked due to injustice, conflict, humiliation, negligence or betrayal. If anger is active, the individual attacks the target, verbally or physically. If anger is passive, the person silently sulks and feels tension
                                and hostility.</p>
                        </div>
                    </li>
                </ul>
                <table class="columns">
                    <tr>
                        <td ng-style="{'width': '50%'}">
                            <div class="z-depth-2" id="barchart_emotion" style="border: 1px solid #ccc, width: 100%"></div>
                        </td>
                        <td ng-style="{'width': '50%'}">
                            <div class="z-depth-2" id="barchart_language" style="border: 1px solid #ccc, width: 100%"></div>
                        </td>
                    </tr>
                    <tr>
                        <td ng-style="{'width': '50%'}">
                            <div class="z-depth-2" id="barchart_social" style="border: 1px solid #ccc, width: 100%"></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row" ng-show="view.highestEmotionTitle !== view.userEmotion && view.journal === 'yes'">
                <h3><i class="small material-icons">warning</i>The Emotions Don't Match Up!</h3>
                <div class="card-panel" ng-style="{'background-color': '#F1E0C3'}">
                    <span class="black-text" ng-style="{'font-size': '17px'}">There is a difference between what you selected as you feel today and the entry that you wrote. Please explain further this difference. Please enter your explanation below:</span>
                    <span>You stated you feel "{{ view.userEmotion }}" today. Watson anazlyed your entry and finds that the text represents the feeling of "{{ view.highestEmotionTitle }}".</span>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <textarea ng-model='view.explanationEntry' id="textareaExplanation" class="materialize-textarea"></textarea>
                        <label for="textareaExplanation">Enter your explanation below</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6 offset-s3">
                    <h5>Top Concept of Entry</h5>
                    <div class="card" ng-style="{'background-color': '#808080'}">
                        <div class="card-content white-text">
                            <span class="card-title" ng-style="{'color': '#FFD8A6'}">{{ view.topConceptLabel }}</span>
                        </div>
                        <div class="card-action">
                            <a href="{{ view.topConceptLink }}" ng-style="{'color': '#A1B9AB'}">Click here for DBpedia explanation</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h5>First TED Talk Video Related to Top Concept</h5>
                    <div class="card">
                        <div class="card-image">
                            <anguvideo ng-model="view.firstVideoId" width="100%" height="400"></anguvideo>
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ view.firstVideoTitle }}</span>
                            <p>{{ view.firstVideoDescription }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h5>Second TED Talk Video Related to Top Concept</h5>
                    <div class="card">
                        <div class="card-image">
                            <anguvideo ng-model="view.secondVideoId" width="100%" height="400"></anguvideo>
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ view.secondVideoTitle }}</span>
                            <p>{{ view.secondVideoDescription }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h5>Select Folder to Save Entry</h5>
                <p>
                    <input name="group3" type="radio" id="journal" value="journal" ng-model="view.folder" />
                    <label for="journal">Journal</label>
                </p>
                <!-- <p>
            <input name="group3" type="radio" id="notebook" value="notebook" ng-model="view.folder" />
            <label for="notebook">Notebook</label>
          </p> -->
                <p>
                    <input name="group3" type="radio" id="job" value="job" ng-model="view.folder" />
                    <label for="job">Business</label>
                </p>
                <p>
                    <input name="group3" type="radio" id="ideas" value="ideas" ng-model="view.folder" />
                    <label for="ideas">Ideas</label>
                </p>
            </div>

            <button class="waves-effect waves-light btn" type="submit" ng-style="{'background-color': '#C1AC8E'}" ng-click="go('/profile')"><i class="material-icons right">cloud</i>Save Analysis</button>
        </form>
    </div>
</div>

</div>
