<div ng-controller="ProfileController" ng-init="allData(); filterFolder = 'journal'">
  <div class="row">
    <div class="col s6">
      <ul class="tabs">
        <li class="tab col s3"><a ng-click="filterFolder = 'journal'; drawJournal()">Journal</a></li>
        <li class="tab col s3"><a ng-click="filterFolder = 'notebook'; drawNotebook()">Notebook</a></li>
        <li class="tab col s3"><a ng-click="filterFolder = 'job'; drawJob()">Job</a></li>
        <li class="tab col s3"><a ng-click="filterFolder = 'ideas'; drawIdeas()">Ideas</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <div class="col s6" ng-repeat="data in view.dataArray | filter : {'folder': filterFolder}">
        <div class="card">
          <div class="card-content">
            <span class="card-title" ng-style="{'font-size': 13, 'line-height': '50%'}"><strong>{{data.title_entry | limitTo : 35}}</strong></span>
            <p ng-style="{'font-size': 9}">{{data.entry_content | limitTo : 250}}</p>
          </div>
          <div class="card-action">
            <a ng-click="view.filterEntry = data.id">Open</a>
            <span ng-show="view.filterEntry === data.id" ng-style="{'color': 'green'}">Selected</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col s3" ng-repeat="entry in view.dataArray | filter : {'id': view.filterEntry} : true">
      <anguvideo ng-model="entry.first_video_link" width="100%" height="200"></anguvideo>
      <div class="col s12">
        <h5>{{entry.first_video_title}}</h5>
      </div>

      <div class="col s12">
        <h4>Main Concept</h4>
        <div class="card-panel teal">
          <h5 class="white-text center">{{entry.top_concept_title}}</h5>
        </div>
      </div>

      <div class="col s12">
        <h4>Emotional Tone</h4>
        <div class="card-panel teal">
          <h5 class="white-text center">{{entry.highest_emotion}}</h5>
        </div>
      </div>

      <div class="col s12">
        <h4>Language Tone</h4>
        <div class="card-panel teal">
          <h5 class="white-text center">{{entry.highest_language}}</h5>
        </div>
      </div>
      <div class="col s12">
        <h4>Social Tone</h4>
        <div class="card-panel teal">
          <h5 class="white-text center">{{entry.highest_social}}</h5>
        </div>
      </div>

      <div class="col s12" ng-hide="(entry.user_emotion).length <= 0">
        <h4>User Stated Emotion</h4>
        <div class="card-panel teal">
          <h5 class="white-text center">{{entry.user_emotion}}</h5>
        </div>
      </div>
    </div>

    <div class="col s5 center">
      <div class="row" ng-hide="filterFolder !== 'journal'">
        <h3>Overview of Journal Folder</h3>
        <div class="row">
          <table class="columns">
            <tr>
              <td ng-style="{'width': '50%'}"><div id="journalPersonalityChart" style="border: 1px solid #ccc"></div></td>
              <td ng-style="{'width': '50%'}"><div id="journalNeedsChart" style="border: 1px solid #ccc"></div></td>
            </tr>
            <tr>
              <td ng-style="{'width': '50%'}"><div id="journalValuesChart" style="border: 1px solid #ccc"></div></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="columns">
            <tr>
              <td ng-style="{'width': '50%'}"><div id="watsonChart" style="border: 1px solid #ccc"></div></td>
              <td ng-style="{'width': '50%'}"><div id="userChart" style="border: 1px solid #ccc"></div></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Journal Language Tone</h4>
            <div class="card-panel teal">
              <h5 class="white-text center">{{ view.journalOverallLanguage }}</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Journal Social Tone</h4>
            <div class="card-panel teal">
              <h5 class="white-text center">{{ view.journalOverallSocial }}</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-hide="filterFolder !== 'notebook'">
        <h3>Overview of Notebook Folder</h3>
        <div class="row">
          <table class="columns">
            <tr>
              <td ng-style="{'width': '50%'}"><div id="notebookPersonalityChart" style="border: 1px solid #ccc"></div></td>
              <td ng-style="{'width': '50%'}"><div id="notebookNeedsChart" style="border: 1px solid #ccc"></div></td>
            </tr>
            <tr>
              <td ng-style="{'width': '50%'}"><div id="notebookValuesChart" style="border: 1px solid #ccc"></div></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="columns">
            <tr>
              <td ng-style="{'width': '50%'}"><div id="notebookEmotionChart" style="border: 1px solid #ccc"></div></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Notebook Language Tone</h4>
            <div class="card-panel teal">
              <h5 class="white-text center">{{ view.notebookOverallLanguage }}</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Notebook Social Tone</h4>
            <div class="card-panel teal">
              <h5 class="white-text center">{{ view.notebookOverallSocial }}</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-hide="filterFolder !== 'job'">
        <h3>Overview of Job Folder</h3>
        <div class="row">
          <table class="columns">
            <tr>
              <td ng-style="{'width': '50%'}"><div id="jobPersonalityChart" style="border: 1px solid #ccc"></div></td>
              <td ng-style="{'width': '50%'}"><div id="jobNeedsChart" style="border: 1px solid #ccc"></div></td>
            </tr>
            <tr>
              <td ng-style="{'width': '50%'}"><div id="jobValuesChart" style="border: 1px solid #ccc"></div></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="columns">
            <tr>
              <td ng-style="{'width': '50%'}"><div id="jobEmotionChart" style="border: 1px solid #ccc"></div></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Job Language Tone</h4>
            <div class="card-panel teal">
              <h5 class="white-text center">{{ view.jobOverallLanguage }}</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Job Social Tone</h4>
            <div class="card-panel teal">
              <h5 class="white-text center">{{ view.jobOverallSocial }}</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-hide="filterFolder !== 'ideas'">
        <h3>Overview of Ideas Folder</h3>
        <div class="row">
          <table class="columns">
            <tr>
              <td ng-style="{'width': '50%'}"><div id="ideasPersonalityChart" style="border: 1px solid #ccc"></div></td>
              <td ng-style="{'width': '50%'}"><div id="ideasNeedsChart" style="border: 1px solid #ccc"></div></td>
            </tr>
            <tr>
              <td ng-style="{'width': '50%'}"><div id="ideasValuesChart" style="border: 1px solid #ccc"></div></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="columns">
            <tr>
              <td ng-style="{'width': '50%'}"><div id="ideasEmotionChart" style="border: 1px solid #ccc"></div></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Ideas Language Tone</h4>
            <div class="card-panel teal">
              <h5 class="white-text center">{{ view.ideasOverallLanguage }}</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Ideas Social Tone</h4>
            <div class="card-panel teal">
              <h5 class="white-text center">{{ view.ideasOverallSocial }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
