<div ng-controller="ProfileController" ng-init="allData(); filterFolder = 'journal'">
  <div class="row">
    <div class="col s4">
      <ul class="tabs z-depth-1">
        <li class="tab col s3"><a ng-style="{'color': '#CE4D45'}" ng-click="filterFolder = 'journal'; drawJournal()">Journal</a></li>
        <!-- <li class="tab col s3"><a ng-style="{'color': '#CE4D45'}" ng-click="filterFolder = 'notebook'; drawNotebook()">Notebook</a></li> -->
        <li class="tab col s3"><a ng-style="{'color': '#CE4D45'}" ng-click="filterFolder = 'job'; drawJob()">Business</a></li>
        <li class="tab col s3"><a ng-style="{'color': '#CE4D45'}" ng-click="filterFolder = 'ideas'; drawIdeas()">Ideas</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <div class="col s6" ng-repeat="data in view.dataArray | filter : {'folder': filterFolder}">
        <div class="card">
          <div class="card-content">
            <span class="card-title" ng-style="{'font-size': 13, 'line-height': '50%'}"><strong>{{data.title_entry | limitTo : 35}}</strong></span>
            <p ng-style="{'font-size': 9}">{{data.entry_content | limitTo : 200}}</p>
          </div>
          <div class="card-action">
            <a ng-click="view.overviewEntry = true; view.filterEntry = data.id; reviewCharts()" ng-style="{'color': '#9F8D6E'}">View Entry</a>
            <span ng-show="view.filterEntry === data.id" class="chip right" ng-style="{'background-color': '#1BB235', 'color': 'white', 'width': '20px', 'height': '20px'}"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col s8" ng-show="view.overviewEntry" ng-repeat="review in view.dataArray | filter : {'id': view.filterEntry} : true">
      <h1 class="center">Entry Review</h1>
      <a class="waves-effect waves-light btn" ng-click="view.overviewEntry = false" ng-style="{'background-color': '#83969D'}"><i class="material-icons left">settings_backup_restore</i>Back</a>

      <div class="row">
        <div class="col s12">
          <div class="card" ng-style="{'background-color': '#F1E0C3'}">
            <div class="card-content black-text">
              <span class="card-title">{{ review.title_entry }}</span>
              <p>{{ review.entry_content }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-hide="review.explanation_entry === ''">
        <div class="col s12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Further Explanation Entry</span>
              <p>{{ review.explanation_entry }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h5>Data Analysis</h5>
        <table class="columns">
          <tr>
            <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="review_emotion" style="border: 1px solid #ccc, width: 100%"></div></td>
            <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="review_language" style="border: 1px solid #ccc, width: 100%"></div></td>
          </tr>
          <tr>
            <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="review_social" style="border: 1px solid #ccc, width: 100%"></div></td>
          </tr>
        </table>
      </div>

      <div class="row">
        <div class="col s12">
          <h5>Top Concept of Entry</h5>
          <div class="card" ng-style="{'background-color': 'grey'}">
            <div class="card-content white-text">
              <span class="card-title" ng-style="{'color': '#FFD8A6'}">{{ review.top_concept_title }}</span>
              <p>{{ review.top_concept_description }}</p>
            </div>
            <div class="card-action">
              <a href="{{ review.top_concept_link }}" ng-style="{'color': '#A1B9AB'}">{{ review.top_concept_link }}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h5>Related Videos</h5>
          <div class="card">
            <div class="card-image">
              <anguvideo ng-model="review.first_video_link" width="100%" height="400"></anguvideo>
            </div>
            <div class="card-content">
              <span class="card-title">{{ review.first_video_title }}</span>
              <p>{{ review.first_video_description }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <anguvideo ng-model="review.second_video_link" width="100%" height="400"></anguvideo>
            </div>
            <div class="card-content">
              <span class="card-title">{{ review.second_video_title }}</span>
              <p>{{ review.second_video_description }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col s8" ng-hide="view.overviewEntry">
      <div class="col s12">
        <div class="row" ng-hide="filterFolder !== 'journal'">
          <h3 class="center">Overview of Journal Folder</h3>
          <div class="row">
            <h5>Personality Analysis</h5>
            <table class="columns">
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="journalPersonalityChart" style="border: 1px solid #ccc"></div></td>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="journalNeedsChart" style="border: 1px solid #ccc"></div></td>
              </tr>
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="journalValuesChart" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>
          </div>
          <div class="row">
            <h5>Comparison of Emotional Tones</h5>
            <table class="columns">
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="watsonChart" style="border: 1px solid #ccc"></div></td>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="userChart" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>
          </div>
          <div class="row">
            <h5>Journal Language Tone</h5>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header" ng-style="{'font-size': '18px', 'color': '#FFD8A6', 'background-color': '#546E7A', 'font-weight': 'bold'}">{{ view.journalOverallLanguage }} <span ng-style="{'color': 'white', 'font-weight': 'normal'}">(Click to learn more)</span></div>
                <div class="collapsible-body"><p>Language tone describes perceived writing style using these categories: analytical style, reasoning style, and confidence. For each of these categories, the service outputs a score from 0 to 1 that indicates tendency toward being perceived as described in the table.</p></div>
              </li>
            </ul>
          </div>
          <div class="row">
          <h5>Journal Social Tone</h5>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" ng-style="{'font-size': '18px', 'color': '#FFD8A6', 'background-color': '#546E7A', 'font-weight': 'bold'}">{{ view.journalOverallSocial }} <span ng-style="{'color': 'white', 'font-weight': 'normal'}">(Click to learn more)</span></div>
              <div class="collapsible-body"><p>Social tone measures the social tendencies in people's writing. Tone Analyzer responds with analysis on five different social tones: openness, conscientiousness, extraversion, agreeableness, and emotional range (or neuroticism). These five social tones are adopted fromÂ the Big-five personality model. For each of these categories, the service outputs a score from 0 to 1 that indicates tendency toward the listed behaviors.</p></div>
            </li>
          </ul>
        </div>
      </div>

        <div class="row" ng-hide="filterFolder !== 'notebook'">
          <h3 class="center">Overview of Notebook Folder</h3>
          <div class="row">
            <h5>Personality Analysis</h5>
            <table class="columns">
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="notebookPersonalityChart" style="border: 1px solid #ccc"></div></td>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="notebookNeedsChart" style="border: 1px solid #ccc"></div></td>
              </tr>
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="notebookValuesChart" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>
          </div>
          <div class="row">
            <h5>Emotional Analysis</h5>
            <table class="columns">
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="notebookEmotionChart" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>
          </div>

            <div class="row">
              <h5>Notebook Language Tone</h5>
              <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header" ng-style="{'font-size': '18px', 'color': '#FFD8A6', 'background-color': '#546E7A', 'font-weight': 'bold'}">{{ view.notebookOverallLanguage }} <span ng-style="{'color': 'white', 'font-weight': 'normal'}">(Click to learn more)</span></div>
                  <div class="collapsible-body"><p>Language tone describes perceived writing style using these categories: analytical style, reasoning style, and confidence. For each of these categories, the service outputs a score from 0 to 1 that indicates tendency toward being perceived as described in the table.</p></div>
                </li>
              </ul>
            </div>
            <div class="row">
            <h5>Notebook Social Tone</h5>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header" ng-style="{'font-size': '18px', 'color': '#FFD8A6', 'background-color': '#546E7A', 'font-weight': 'bold'}">{{ view.notebookOverallSocial }} <span ng-style="{'color': 'white', 'font-weight': 'normal'}">(Click to learn more)</span></div>
                <div class="collapsible-body"><p>Social tone measures the social tendencies in people's writing. Tone Analyzer responds with analysis on five different social tones: openness, conscientiousness, extraversion, agreeableness, and emotional range (or neuroticism). These five social tones are adopted fromÂ the Big-five personality model. For each of these categories, the service outputs a score from 0 to 1 that indicates tendency toward the listed behaviors.</p></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" ng-hide="filterFolder !== 'job'">
          <h3 class="center">Overview of Business Folder</h3>
          <div class="row">
            <h5>Personality Analysis</h5>
            <table class="columns">
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="jobPersonalityChart" style="border: 1px solid #ccc"></div></td>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="jobNeedsChart" style="border: 1px solid #ccc"></div></td>
              </tr>
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="jobValuesChart" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>
          </div>
          <div class="row">
            <table class="columns">
              <h5>Emotional Analysis</h5>
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="jobEmotionChart" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>
          </div>

          <div class="row">
            <h5>Job Language Tone</h5>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header" ng-style="{'font-size': '18px', 'color': '#FFD8A6', 'background-color': '#546E7A', 'font-weight': 'bold'}">{{ view.jobOverallLanguage }} <span ng-style="{'color': 'white', 'font-weight': 'normal'}">(Click to learn more)</span></div>
                <div class="collapsible-body"><p>Language tone describes perceived writing style using these categories: analytical style, reasoning style, and confidence. For each of these categories, the service outputs a score from 0 to 1 that indicates tendency toward being perceived as described in the table.</p></div>
              </li>
            </ul>
          </div>
          <div class="row">
            <h5>Job Social Tone</h5>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header" ng-style="{'font-size': '18px', 'color': '#FFD8A6', 'background-color': '#546E7A', 'font-weight': 'bold'}">{{ view.jobOverallSocial }} <span ng-style="{'color': 'white', 'font-weight': 'normal'}">(Click to learn more)</span></div>
                <div class="collapsible-body"><p>Social tone measures the social tendencies in people's writing. Tone Analyzer responds with analysis on five different social tones: openness, conscientiousness, extraversion, agreeableness, and emotional range (or neuroticism). These five social tones are adopted fromÂ the Big-five personality model. For each of these categories, the service outputs a score from 0 to 1 that indicates tendency toward the listed behaviors.</p></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" ng-hide="filterFolder !== 'ideas'">
          <h3 class="center">Overview of Ideas Folder</h3>
          <div class="row">
            <h5>Personality Analysis</h5>
            <table class="columns">
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="ideasPersonalityChart" style="border: 1px solid #ccc"></div></td>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="ideasNeedsChart" style="border: 1px solid #ccc"></div></td>
              </tr>
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="ideasValuesChart" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>
          </div>
          <div class="row">
            <table class="columns">
              <h5>Emotional Analysis</h5>
              <tr>
                <td ng-style="{'width': '50%'}"><div class="z-depth-2" id="ideasEmotionChart" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>
          </div>

          <div class="row">
            <h5>Ideas Language Tone</h5>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header" ng-style="{'font-size': '18px', 'color': '#FFD8A6', 'background-color': '#546E7A', 'font-weight': 'bold'}">{{ view.ideasOverallLanguage }} <span ng-style="{'color': 'white', 'font-weight': 'normal'}">(Click to learn more)</span></div>
                <div class="collapsible-body"><p>Language tone describes perceived writing style using these categories: analytical style, reasoning style, and confidence. For each of these categories, the service outputs a score from 0 to 1 that indicates tendency toward being perceived as described in the table.</p></div>
              </li>
            </ul>
          </div>
          <div class="row">
            <h5>Ideas Social Tone</h5>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header" ng-style="{'font-size': '18px', 'color': '#FFD8A6', 'background-color': '#546E7A', 'font-weight': 'bold'}">{{ view.ideasOverallSocial }} <span ng-style="{'color': 'white', 'font-weight': 'normal'}">(Click to learn more)</span></div>
                <div class="collapsible-body"><p>Social tone measures the social tendencies in people's writing. Tone Analyzer responds with analysis on five different social tones: openness, conscientiousness, extraversion, agreeableness, and emotional range (or neuroticism). These five social tones are adopted fromÂ the Big-five personality model. For each of these categories, the service outputs a score from 0 to 1 that indicates tendency toward the listed behaviors.</p></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
